
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

:root{
  --primary: #472F00;
  --secondary: #FFC107;
  --light-gray: #DADCE0;
  --light-brown: #906613;
  --white: #FFFFFF;
}

.ui-link {
  text-decoration: none;
  color: var(--primary);
}

.containerimage {
  height: auto;
  width: auto;
}
.extensionimage {
  height: auto;
  width: auto;
  background-image: url("https://cdn.jsdelivr.net/gh/taylorhelene/react-UIKit@main/src/Images/extend.png");
  background-repeat: repeat-x round ;
  flex-grow:1;
  
}

.ui-textfield {
padding: 12px 10px;
border-radius: 3px;
border: 1px solid var(--light-gray);
font-size: 16px;
}

.ui-button {
background-color: var(--primary);
color: white;
border: 0;
padding: 15px 20px;
min-width: 150px;
font-size: 16px;
border-radius: 3px;
cursor: pointer;
transition: opacity 200ms ease-out;
box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.ui-button:hover {
  opacity: 0.8;
}
.ui-button:disabled {
  opacity: 0.4;
  cursor: disabled;
}
.ui-button-right {
  background-color: var(--primary);
  color: white;
  border: 0;
  padding: 10px 15px;
  min-width: auto;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
  transition: opacity 200ms ease-out;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  float: right;
  }
  .ui-button-right:hover {
    opacity: 0.8;
  }
  .ui-button-right:disabled {
    opacity: 0.4;
    cursor: disabled;
  }
.card{
  background-color:var(--light-brown);
  opacity: 0.6;
  border-radius: 10px;
  max-width:100%;
  height:auto;
  margin:10px;
}
.imageRow{
  display: flex;
  flex-direction: row-reverse;
  
}
.containerRow{
  display: flex;
  flex-direction: row;
  margin: 10%;
}
.cardRow{
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
}
.ui-image{
  display:inline-flex ;
  justify-content: center;
  align-items: center;
  max-width:auto;
  height:auto;
  border-radius: 50%;
  background-image: linear-gradient(#472F00,#FFFFFF); 
  padding: 3%;
}
.ui-text{
  color: var(--white);
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
  font-family: 'Open Sans', sans-serif;

}
.ui-cardHeader{
  color: var(--white);
  font-family: 'Open Sans', sans-serif;
}
[class^="ui-"] {
  margin: 10px;
}