

:root{
  --primary: #472F00;
  --secondary: #FFC107;
  --light-gray: #DADCE0;
  --light-brown: #906613;
}

.ui-link {
  text-decoration: none;
  color: var(--primary);
}

.ui-container {
  width: 80%;
  margin: 0 auto;
}

.ui-textfield {
padding: 12px 10px;
border-radius: 3px;
border: 1px solid var(--light-gray);
font-size: 16px;
}

.ui-button {
background-color: var(--primary);
color: white;
border: 0;
padding: 15px 20px;
min-width: 150px;
font-size: 16px;
border-radius: 3px;
cursor: pointer;
transition: opacity 200ms ease-out;
box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.ui-button:hover {
  opacity: 0.8;
}
.ui-button:disabled {
  opacity: 0.4;
  cursor: disabled;
}
.card{
  background-color:var(--light-brown);
  opacity: 0.7;
  border-radius: 10px;
  max-width:100%;
  height:auto;
  margin:10px;
}
.cardContainer{
  display: flex;
  flex-direction: row;
}
.ui-image{
  max-width:100%;
  height:auto;
  border-radius: 10px;
}
[class^="ui-"] {
  margin: 10px;
}